{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Blog de La furie du Dragon</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="page-header">
            <div class="container">
                <h1><a href="/">Blog de La furie du Dragon</a></h1>
            </div>
        </header>
        <main class="container">
            <div class="row">
                <div class="col">
                    {% for post in posts %}
                        <article class="post">
                            <time class="date">
                                {{ post.published_date }}
                            </time>
                            <h2><a href="">{{ post.title }}</a></h2>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </main>
    </body>
</html>